---
layout: default
title: Projects
---

On this feed I will post my complete and near complete projects as well as attempting to accurately document my progress and troubleshooting. Put simply, here's where you play my games.

<div class="bundle row gutters fadeInDown animated">

<section class="archive">
{% for post in site.categories.project %}

<!--Post Links -->

<article class="row gutters">
<div class="post-date col span_4">
<a id="postlink" href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}" class="col span_8">
<strong>
{{ post.title }} 
</strong>
	<br>
	Version: {{post.version}}
	<br>
      <time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: "%-d %B %Y" }}</time>
    </div>
<img src={{ post.image }} alt='{{ post.title }}'>
</a>
  </article>

{% if forloop.last %}</div></div>{% endif %}

{% endfor %}
</section>
