<div class="container {{ site.data.web.style }}">

      <header class="top row gutters{% if page.title == "Home" %} fadeInLeft animated{% endif %}">

        <div class="col span_2 center">
          <!-- TODO: add baseurl to the logo link -->
          <a href="/" id="logo" title="{{ site.data.web.title }}"
             style="background-image: url({{site.data.web.baseurl}}/public/images/logo.png);"></a>
        </div><nav class="col span_10 top-navbar">

  {% for link in site.data.links %}

  <a href="{{ link.url }}" title="{{ link.title }}"
     {% if page.title == link.title %}class="current-page"{% endif %}>{{ link.title }}</a>
  {% endfor %}
</nav>
