---
layout: default
title: Art
---

Here is a selection of some artwork I have created.
<br>
Most of these images will have been created with
 <a href=https://www.gimp.org/ target="_blank"">GIMP</a>,
 <a href=https://krita.org/en/ target="_blank"">Krita</a>
 or
 <a href=http://www.clipstudio.net/en target="_blank"">CLIP STUDIO PAINT</a>.

<div class="bundle row gutters fadeInDown animated">

<section class="archive">
{% for post in site.categories.art %}

<!--Post Links -->

<article class="row gutters">
<div class="post-date col span_4">
<a id="postlink" href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}" class="col span_8">
<strong>
{{ post.title }} 
</strong>
	<br>
      <time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: "%-d %B %Y" }}</time>
    </div>
<img src={{ post.image }} alt='{{ post.title }}'>
</a>
    


  </article>

{% if forloop.last %}</div></div>{% endif %}

{% endfor %}
</section>
