<!-- meta information -->
<meta charset="utf-8">
{% if page.title == "Home" %}
      <meta name="description" content="{{ site.data.web.description }}">
{% else %}
      <meta name="description" content="{{ page.content | strip_html | strip_newlines | truncate: 120 }}">
{% endif %}
<meta name="author" content="{{ site.data.web.author }}">
{% if (page.categories == "art") or (page.categories == "project") or (page.categories == "blog") %}
	<meta name="image" content="{{ site.data.web.baseurl }}{{ page.image }}">
{% else %}
	<meta name="image" content="{{ site.data.web.baseurl }}/public/images/logo.png">
{% endif %}

<!-- Twitter Meta -->
<meta name="twitter:domain" content="{{ site.data.web.baseurl }}{{ page.url }}">
<meta name="twitter:description" content="{{ page.content | strip_html | strip_newlines | truncate: 120 }}">
<meta name="twitter:title" content="{{ page.title }}">
{% if (page.categories == "art") or (page.categories == "project") or (page.categories == "blog") %}
  <meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:image" content="{{ site.data.web.baseurl }}{{ page.image }}">
{% else %}
  <meta name="twitter:card" content="summary">
	<meta name="twitter:image" content="{{ site.data.web.baseurl }}/public/images/logo.png">
{% endif %}

<!-- Enable responsiveness on mobile devices-->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

<!-- title -->
<title>{{ page.title }} &middot; Jack Haydock</title>

<!-- icons -->
<link rel="shortcut icon" href="{{site.data.web.baseurl}}/public/images/favicon.ico" />

<!-- stylesheets -->
<link rel="stylesheet" href="{{site.data.web.baseurl}}/public/css/responsive.gs.12col.css">
<link rel="stylesheet" href="{{site.data.web.baseurl}}/public/css/animate.min.css">
<link rel="stylesheet" href="{{site.data.web.baseurl}}/public/css/main.css">

<!-- Google fonts -->
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic&subset=latin-ext">

{% if site.paginate %}
<!-- font Awesome -->
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
{% endif %}

<!-- feed links -->
<link rel="alternate" href="{{ site.data.web.url }}{{ site.data.web.baseurl }}/feed.xml" type="application/rss+xml" title="{{ site.name }}">
