<div id="spoiler" style="display:none">
<strong>{{page.hint}}</strong>
</div>
<button title="Click to show/hide content" type="button" onclick="if(document.getElementById('spoiler') .style.display=='none') {document.getElementById('spoiler') .style.display=''}else{document.getElementById('spoiler') .style.display='none'}">Show/Hide Hint</button>

<br>
<br>

<h3>Please input your answer:</h3>

<input id="ans">
<button type="button" onclick="myFunction()">Submit</button>

<p id="demo"></p>

<script>
function myFunction() {
    var x, text;

    // Get the value of the input field with id="ans"
    x = document.getElementById("ans").value;

    if (
   x == "{{ page.answera }}"
|| x == "{{ page.answerb }}"
|| x == "{{ page.answerc }}"
|| x == "{{ page.answerd }}"
) {
        text = "<h3>Congratulations!</h3>{{page.solution}}<br><br><h4>Here is your reward clue:</h4> <h1>{{ page.char }}</h1> <a href={{site.data.web.baseurl}}/puzzle/{{page.next}}>Next Puzzle</a>";
//---Joke responses---

//rude
    } else if (
    x == "Fuck You!"
 || x == "Fuck You"
 || x == "Fuck you!"
 || x == "Fuck you"
 || x == "fuck you!"
 || x == "fuck you"
 || x == "FuckYou!"
 || x == "FuckYou"
 || x == "fuckyou"
 || x == "Cock"
 || x == "cock"
 || x == "Penis"
 || x == "penis"
 || x == "Tits!"
 || x == "Tits"
 || x == "tits"
) {
	text = "How rude!";

//love
    } else if (
    x == "I Love You!"
 || x == "I love you"
 || x == "i love you"
 || x == "iloveyou"
) {
	text = "Aww, that's nice. I'm just some code so the feeling is not mutual I'm afraid."; 

//marry
} else if (
    x == "Will you marry me?"
 || x == "Will you marry me"
 || x == "will you marry me?"
 || x == "will you marry me"
 || x == "willyoumarryme?"
 || x == "willyoumarryme"
 || x == "marryme?"
 || x == "marryme"
 || x == "marry me?"
 || x == "marry me"
 || x == "Marryme?"
 || x == "Marryme"
 || x == "Marry me?"
 || x == "Marry me"
 || x == "MarryMe?"
 || x == "MarryMe"
 || x == "Marry Me?"
 || x == "Marry Me"
) {
	text = "Umm...no.";

//Dan
} else if (
    x == "Konichiwa"
 || x == "konichiwa"
 || x == "grr"
 || x == "grrr"
 || x == "grrrr"
 || x == "grrrrr"
 || x == "grrrrrr"
 || x == "grrrrrrr"
 || x == "wooblebooble"
) {
	text = "Hi Dan, nice to see you  at least pretending to give a shit.";

//valarmorgulis
} else if (
    x == "Valar Morghulis"
 || x == "Valar morghulis"
 || x == "valar morghulis"
 || x == "ValarMorghulis"
 || x == "Valarmorghulis"
 || x == "valarmorghulis"
) {
	text = "Valar Dohaeris.";

//war
} else if (
    x == "War"
 || x == "war"
) {
	text = "War never changes.";

//no
} else if (
    x == "no"
 || x == "No"
 || x == "NO"
 || x == "no!"
 || x == "No!"
 || x == "NO!"
) {
	text = "Well aren't you a little rebel?";

//your answer
} else if (
    x == "youranswer"
 || x == "Youranswer"
 || x == "YourAnswer"
 || x == "your answer"
 || x == "Your answer"
 || x == "Your Answer"
) {
	text = "You're not as clever as you think, smart ass.";

//---End of jokes--- 
    } else {
        text = "Incorrect, check your spelling and syntax just in case. I advise using only lowercase letters and numbers, no spaces or other symbols.";
    }
    document.getElementById("demo").innerHTML = text;
}
</script>

<br>
<h4>
Notes:
</h4>

<ul>
<li> Be careful with spellings and syntax. Your safest bet is all lowercase letters and numbers; no spaces, hyphens or underscores.  
<li> You will not be reshown the reward clues so make sure to keep note of them.
<li> Please don't reveal any answers to other visitors, let them play for themselves.
<li> Some puzzles will have multiple stages.
<li> While you may have to use google (or, god forbid, a book!) to find some answers, please try to use your own brain first.
<li> If you believe you have the right answer but can't get the exact spelling, contact me with your answer, if you are close enough to the correct answer I'll give you the exact answer.
<li> I am aware of a few ways to cheat for anybody familiar with web structure but please refrain from doing this, it's just a d*ck move.
<li> If you hate me at the end of this, I completely understand.
