---
layout: default
title: Art
---

Here is a selection of some artwork I have created.
<br>
Most of these images will have been created with
 <a href=https://www.gimp.org/ target="_blank"">GIMP</a>,
 <a href=https://krita.org/en/ target="_blank"">Krita</a>
 or
 <a href=http://www.clipstudio.net/en target="_blank"">CLIP STUDIO PAINT</a>.

<section class="archive">
{% for post in site.posts %}
{% unless post.next %}

{% unless forloop.first %}</div></div>{% endunless %}

  <div class="bundle row gutters fadeInDown animated">
    <h2 class="post-year col span_2">{{ post.date | date: '%Y' }}</h2>
    <div class="posts-by-year col span_10">

{% else %}
{% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
{% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
{% if year != nyear %}

{% unless forloop.first %}</div></div>{% endunless %}

  <div class="bundle row gutters fadeInDown animated">
    <h2 class="post-year col span_2">{{ post.date | date: '%Y' }}</h2>
    <div class="posts-by-year col span_10">
{% endif %}
{% endunless %}

<!--Post Links -->

<article class="row gutters">
<div class="post-date col span_4">
<a id="postlink" href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}" class="col span_8">
<strong>
{{ post.title }} 
</strong>
	<br>
      <time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: "%-d %B" }}</time>
    </div>
<img src={{ post.image }} alt='{{ post.title }}'>
</a>
    


  </article>

{% if forloop.last %}</div></div>{% endif %}

{% endfor %}
</section>
