---
layout: default
---

<article class="single row gutters">

  <time class="published" datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date_to_long_string }}</time>

  <h2>{{ page.title }}</h2>

   {{ content }}

<h5>Share this page</h5>

<a href=
'http://twitter.com/share?url=
{{ site.data.web.url }}{{ page.url }}&text={{ page.title }}'
target="_blank"
class='button'>
<img src="/public/images/twitter.png" alt="Twitter"
height=50px width=50px>
</a>

<a href=
"https://www.facebook.com/sharer/sharer.php?u=
{{site.data.web.url}}{{ page.url }}"
target="_blank">
<img src="/public/images/facebook.png" alt="Facebook"
height=50px width=50px>
</a>

<a href=
"https://plus.google.com/share?url=
{{site.data.web.url}}{{ page.url }}"
target="_blank">
<img src="/public/images/google.png" alt="Google+"
height=50px width=50px>
</a>

{% include comments.html %}

</article>
                                
